.form {
    margin: 10vw 20vw;
}
.input-box {
    padding: 10px;
  }
  
  .input-login {
    font-size: 1.15rem;
    padding: 12px 6px;
    width: 100%;
    border: none;
    border-radius: 3px 3px 0 0;
    border-bottom: solid #999 3px;
    box-sizing: border-box;
  }
  
  button {
    width: 90%;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 10px;
  
  }
  
  .alert {
    display: inline-block;
    width: 90%;
    border-radius: 5px;
    background-color: lightgreen;
    color: green;
    font-size: 1.25rem;
    margin-top: 35px;
    padding: 26px 0;
  }
  