<div class="container">

    <header>
        <div class="avatar"></div>
        <div class="title-avatar">{{user.nome}}</div>
    </header>

    <section>
        <a routerLink="/home">
            <button mat-raised-button>Noticias</button>
        </a>
        <a routerLink="/home/config">
            <button mat-raised-button data-cy="configurações">Configuração</button>
        </a>
        <a routerLink="/">
            <button mat-raised-button color="warn" data-cy="sair">Sair</button>
        </a>
    </section>
</div>